  .center {
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .border {
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border: 1px solid black;
    text-align: center;
    box-shadow: 5px 10px 8px 10px #030304;
    margin-bottom: 30px;
  }

  .description {
    color: rgb(214, 228, 231);
  }

  .status {
    color: rgb(0, 255, 89);
  }

  .shadow {
    text-shadow: 5px 5px 2px rgb(60, 164, 159);
    box-shadow: inset 0 0 10px #000000;
    padding-bottom: 10px;
  }

  .header {
    font-size: 30px;
    color: #0f5ae4
  }

  .bodyText {
    font-size: 20px;
    color: #000000
  }



  

